<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>SUDOKU resolver</title>
    <link rel="icon" href="data:," />
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body style="padding-top: 5rem;">
    <main role="main" class="container">
        <h1>SUDOKU resolver</h1>

        <div class="data-input">
            <form action="/solution" method="POST">
                <div class="input-title">
                    <h2>Input</h2>
                    <select name="algorithm" id="algorithm">
                        <option value="back-tracking">BackTracking</option>
                        <option value="dancing-links">Dancing Links</option>
                    </select>
                </div>
                <table class="sudoku-table">
                    {{range $i, $iv := .Inputs.Values}}
                    <tr>
                        {{range $j, $jv := .}}
                        {{if (ne $jv 0)}}
                        <td>
                            <input type="text" name="value-{{$i}}-{{$j}}" value="{{.}}">
                        </td>
                        {{else}}
                        <td class="dark-input">
                            <input type="text" name="value-{{$i}}-{{$j}}" value="" class="dark-input">
                        </td>
                        {{end}}
                        {{end}}
                    </tr>
                    {{end}}
                </table>
                <br>
                <div>
                    <input type="submit" value="Resolve" class="button btn-primary">
                </div>
            </form>
        </div>

        <div class="solution">
            {{ block "solution" .Solution }}{{end}}
        </div>
    </main><!-- /.container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <script src="../static/js/main.js"></script>
</body>

</html>